@font-face {
    font-family: "regular";
    src: url(../font/RedHatDisplay-Regular.otf);
}

::-webkit-scrollbar {
    width: 2vh; 
}
  
::-webkit-scrollbar-track {
    background-color: rgb(17, 17, 17);
}
   

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#64bbec, #e20fe7);
    border-radius: 2vh;
    border: 0.1vh rgb(17, 17, 17) solid;
}
  

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(#3c80a8, #ac08af);
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url(../img/circuitBkg.jpg);
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2vh;
    box-sizing: border-box;
    width: 100%;
    height: 9vh;
    font-family: "regular";
    font-weight: bold;
    font-size: 4vh;
    color: aliceblue;
    border-bottom: 0.4vh #b7b7b7 solid;
    background-color: rgb(17, 17, 17);
}

footer > div , header > div{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "regular";
    width: 5vh;
    font-size: 2vh;
    transition: transform 0.3s;
    cursor: pointer;
}

footer > div:hover,  header > button:hover{
    transform: scale(108%);
}

header > button{
    transition: transform 0.3s;
}

footer > div > button , header > button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0.6vh;
    width: 5vh;
    height: 5vh;
    color: aliceblue;
    text-decoration: none;
    box-sizing: content-box;
    border-radius: 50%;
    border: 0.4vh #b7b7b7 solid;
    background-image: linear-gradient(40deg, #fffc00 0%, #fc00ff 45%, #00fffc 100%);
    cursor: pointer;
}

footer > div > button > span , header > button > span{
    font-size: 4.5vh !important;
}

#settings > img{
    width: 6vh;
    height: 6vh;
}

#settings:hover{
    transform: scale(110%);
}

#settings{
    display: flex;
    width: 6vh;
    height: 6vh;
    border: 0.4vh #967416 solid;
    border-radius: 50%;
    transition: transform 0.3s;
}

main{
    height: 73.25vh;
    margin: 3vh;
    display: flex;
    box-sizing: border-box;
    border: 0.6vh #b7b7b7 solid;
    border-radius: 5vh 0 0 5vh;
    width: 80%;
    overflow-y: auto;
}

main > div{
    display: flex;
    width: 100%;
    height: 100%;
}

main > div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#position{
    width: 10%;
}

#player{
    width: 55%;
}

#score{
    width: 25%;
}

#skin{
    width: 10%;
    border-right: none;
}

#skin > div > img{
    width: 3.8vh;
    height: 3.8vh;
}

main > div > div > div:first-child{
    min-height: 6vh;
    margin-top: 0px;
    padding: 0;
    font-size: 2.5vh;
    background-color: #111111;
    color: aliceblue;
}

main > div > div > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    min-height: 5vh;
    width: 100%;
    font-family: "regular";
    font-size: 2vh;
    border-right: 0.4vh aliceblue solid;
    font-weight: bold;
    background-color: #787586;
}

main > div > div > div:nth-child(2n+3){
    background-color: #ACA9BB;
}

.top1{
    color: gold;
    text-decoration: underline;
    text-decoration-thickness: 0.3vh;
}

.top2{
    color: silver;
    text-decoration: underline;
    text-decoration-thickness: 0.3vh;
}

.top3{
    color: #cd7f32;
    text-decoration: underline;
    text-decoration-thickness: 0.3vh;
}

.ris{
    background-color: #dba81c !important;
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
    height: 11.5vh;
    border-radius: 3vh 3vh 0px 0px;
    border: 0.4vh #b7b7b7 solid;
    color: #b7b7b7;
    border-bottom: none;
    background-color: rgb(17, 17, 17);
}

#search{
    z-index: 2;
    position: absolute;
    right: 8vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 35vh;
    height: 13vh;
    padding: 1.5vh;
    color: aliceblue;
    font-family: "regular";
    font-size: 2vh;
    border: 0.5vh aliceblue solid;
    border-radius: 2vh;
    background-color: rgb(17, 17, 17);
}

#search > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30%;
}

#search input{
    font-family: "regular";
    font-size: 1.8vh;
    padding: 0.5vh;
}

#search > div > span{
    padding: 0;
    font-size: 3vh;
    border-radius: 30%;
    transform: scale(100%);
    cursor: pointer;
    transition: transform 0.2s, background 0.2s;
}

#search > div > span:hover{
    transform: scale(120%);
    background-color: rgba(255, 0, 0, 0.6);
}

@media screen and (max-width: 769px) {
    main > div > div > div{
        font-size: 1.8vh !important;
    }
    
    #skin > div > img{
        width: 2.8vh;
        height: 2.8vh;
    }
    
    footer{
        width: 65%;
    }
}

@media screen and (max-width: 576px) {
    main{
        width: 90%;
    }

    main > div > div > div{
        font-size: 1.5vh !important;
    }

    
    header{
        box-sizing: border-box;
        padding: 0 1vh;
        font-size: 3vh;
    }

    #position{
        width: 15%;
    }
    
    #player{
        width: 60%;
    }

    #skin{
        display: none;
    }

    #search{
        right: 1vh;
        transform: scale(70%);
    }
}


@keyframes logoShadow {
    0%{ filter: drop-shadow(0px 0px 10px #af6aff); }
    50%{ filter: drop-shadow(0px 0px 0px #af6aff) }
    100%{ filter: drop-shadow(0px 0px 10px #af6aff) }
}

@keyframes pulse {
    0%{transform: scale(100%);}
    50%{transform: scale(120%);}
    100%{transform: scale(100%);}
}

@keyframes colorRotate {
    0% {
      color: red;
    }
    33% {
      color: rgb(255, 255, 0);
    }
    66% {
      color: rgb(0, 255, 0);
    }
    100%{
        color: red;
    }
}