.control{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 200px;
}

.joistick{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 200px;
    border: 5px aliceblue solid;
    border-radius: 70px;
    background-color: rgba(243, 247, 161, 0.5);
}

.ability{
    width: 60%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ability > button{
    width: 120px;
    height: 120px;
    background: none;
    padding: 0px;
    border-radius: 50%;
}

.ability img{
    width: 100%;
    height: 100%;
}

.movement{
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.movement > button{
    border-radius: 50%;
}

.movement > span.material-symbols-rounded{
    font-size: 40px;
}

.up_arrow{grid-area: 1 / 2 / 2 / 2;}
.left_arrow{grid-area: 2 / 1 / 3 / 2;}
.down_arrow{grid-area: 3 / 2 / 4 / 3;}
.right_arrow{grid-area: 2 / 3 / 3 / 4;}


/*

HTML

<div class="control">
    <div class="joistick">
        <div class="ability">
            <button>
                <img src="./img/fire_ability.png">
            </button>
            <button>
                <img src="./img/fire_ability.png">
            </button>
        </div>
        <div class="movement">
            <button class="up_arrow">
                <span class="material-symbols-rounded">
                    north
                </span>
            </button>
            <button class="left_arrow">
                <span class="material-symbols-rounded">
                    west
                </span>
            </button>
            <button class="down_arrow">
                <span class="material-symbols-rounded">
                    south
                </span>
            </button>
            <button class="right_arrow">
                <span class="material-symbols-rounded">
                    east
                </span>
            </button>
        </div>
    </div>
</div>
*/