.first .control{
    border-right: 5px aliceblue solid;
}

.control{
    flex-grow: 1;
    display: grid;
    /*  ci sono 5 colonne dove ognuna è larga il 20% del totale  */
    grid-template-columns: 20% 20% 20% 20% 20%;
    /*  ci sono 2 righe dove ognuna è larga il 50% del totale  */
    grid-template-rows: 50% 50%;
    width: 100%;
    border-top: 5px aliceblue solid;
    background-color: rgba(243, 247, 161, 0.5);
    transition-delay: 0.7s;
}

.control > button{
    margin: 10px;
    border: none;
    border-radius: 10px;
}

/* grid-area: X (riga inizio) / X (colonna inizio) / X (riga fine ESCLUSA) / X (colonna fine ESCLUSA)*/
.sx_up{grid-area: 1 / 1 / 2 / 2;}
.up_arrow{grid-area: 1 / 4 / 2 / 5;}
.sx_down{grid-area: 2 / 1 / 3 / 2;}
.left_arrow{grid-area: 2 / 3 / 3 / 4;}
.down_arrow{grid-area: 2 / 4 / 3 / 5;}
.right_arrow{grid-area: 2 / 5 / 3 / 6;}


/*
HTML

<div class="control">
    <button class="sx_up">
        SX UP
    </button>
    <button class="up_arrow">
        <span class="material-symbols-rounded">
            north
        </span>
    </button>
    <button class="sx_down">
        SX DOWN
    </button>
    <button class="left_arrow">
        <span class="material-symbols-rounded">
            west
        </span>
    </button>
    <button class="down_arrow">
    <span class="material-symbols-rounded">
        south
    </span>
    </button>
    <button class="right_arrow">
        <span class="material-symbols-rounded">
            east
        </span>
    </button>
</div>
*/