/* IMPLEMENTAZIONE FONT */
@font-face {
    font-family: "bold";
    src: url(../../font/RedHatDisplay-Bold.otf);
}

@font-face {
    font-family: "regular";
    src: url(../../font/RedHatDisplay-Regular.otf);
}

/* PARTE RELATIVA ALL'ANIMAZIONE INIZIALE */

#sectionAnimation{
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../img/blackground_logo.png);
    background-position: center;
    background-size: 100% 100%;
    opacity: 0;
    animation: resetSection 3.8s linear 1;
}

#circle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(6, 6, 6, 0.9);
    box-shadow: 0px 0px 15px 15px rgb(6, 6, 6);
    animation: pulse 1.8s 2 linear;
}

.miniCircle{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    opacity: 0;
    animation: circleRotate cubic-bezier(0.59, 0.98, 0.64, 0.62) 1.8s 2;
}

.miniCircle:nth-child(2){
    animation-delay: 0.2s;
}

.miniCircle:nth-child(3){
    animation-delay: 0.1s;
}

.miniCircle:nth-child(4){
    animation-delay: 0.3s;
}

#circle > span::after{
    color: aliceblue;
    font-size: 23px;
    font-family: "bold";
    content: "Loading";
    animation: loadingText cubic-bezier(0.59, 0.98, 0.64, 0.62) 1.9s 2;
}

/* FINE PARTE RELATIVA ALL' ANIMAZIONE INIZIALE */

a{
    text-decoration: none;
}

button , a{
    transition: filter 0.2s, transform 0.2s;
    cursor: pointer;
}

.joystick button:hover , #menu button:hover , header button:hover , a:hover{
    filter: drop-shadow(0px 0px 15px black);
    transform: scale(110%);
}

span.material-symbols-rounded{
    font-size: 50px;
    width: fit-content;
    height: fit-content;
}

body{
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: rgba(6, 6, 6, 0.6);
    background-image: url(../../img/NYCbigRoad.jpg);
    background-position: center;
    background-size: cover;
}

.lightMode{
    background-color: transparent;
    color: aliceblue;
    border-color: aliceblue;
}

.darkMode{
    background-color: rgb(6, 6, 6);
    color: aliceblue;
}

header {
    position: absolute;
    z-index: 4;
    top: -110px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 120px;
    transition: top 0.7s;
}

header:hover {
    top: 0px;
}

.lightHeader{
    background-color: transparent;
    background-image: none;
}

.darkHeader{
    background-image: url("../../img/blackground_logo.png");
    background-size: contain;
}

div.volume{
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

header button , header a{
    border-radius: 50%;
    border: 4px aliceblue solid;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#volumeBtn:focus + #volumeRange , #volumeRange:hover{
    display: flex;
}

#volumeRange{
    display: none;
    justify-content: center;
}

#volumeRange > span{
    color: aliceblue;
    font-size: 20px;
    padding: 0px 5px;
}

/*  BARRA DEL RANGE  */
#volumeValue::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background-color: #d017da;
    border-radius: 10px;
    width: 200px;
    height: 10px;
}

/*  PALLINO  */
#volumeValue::-webkit-slider-thumb {
    margin-top: -3px;
    cursor: pointer;
}

/*  FINE PARTE RELATIVA ALL'HEADER  */


/* PARTE RELATIVA AL MENU */

/* se body ha il bottone in :focus allora apllica ""AL BODY"" ...*/
body:has(header > #pauseBtn:focus , #menu:hover){
    background-blend-mode: darken;
}

/* se body ha il bottone in :focus allora apllica ""A BODY > MAIN"" ...*/
body:has(header > #pauseBtn:focus , #menu:hover) > main{
    opacity: 0.5;
}

body:has(header > #pauseBtn:focus , #menu:hover) > #menu{
    display: flex;
    opacity: 1;
    animation: show 0.3s linear;
}

@keyframes show { from{opacity: 0;} to{opacity: 1;} }

header:has(> #pauseBtn:focus , #menu:hover){
    top: -110px;
}


#menu{
    position: fixed;
    z-index: 10;
    top: 20%;
    left: 40.5%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 19%;
    height: 50%;
    color: aliceblue;
    font-size: 3vh;
    font-family: "bold";
    opacity: 0;
}

#menu > div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    animation: pulse 1.8s linear infinite;
}

#menu > div:first-child > span:first-child{
    font-size: 5vh;
    padding-right: 1vh;
}

#menu > div:last-child{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
    background-color: rgb(6, 6, 6);
    border: 1vh solid;
    animation: raimbowBorder 3s infinite linear;
}

#menu a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 80%;
    height: 15%;
    border-radius: 1vh;
    border: 0.5vh aliceblue solid;
    color: aliceblue;
    background-image: linear-gradient(90deg,#5283ec, #af36c7);
}
/* FINE PARTE RELATIVA AL MENU */


/*SCHERMO*/
main{
    position: absolute;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100vh;
}


/* LINEA CHE SEPARA PLAYER 1-2 */
#separator {
    position: absolute;
    z-index: 3;
    background-color: rgba(240, 248, 255, 0.5);
    left: 49.8%;
    top: 0%;
}


/*  SCHERMO DIVISO IN 2 SECTION  */
section {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}


/* BARRA DELLA VITA */
div.life {
    position: absolute;
    z-index: 3;
    top: 20px;
    width: 400px;
    height: 10px;
    border: 5px aliceblue solid;
    border-radius: 10px;
    background-color: red;
}

/* CONTROLLY E JOYSTICK */
.control {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 220px;
}

.joystick {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 180px;
    border: 5px rgba(229, 243, 255, 0.7) solid;
    border-radius: 50px;
}

.ability {
    width: 55%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ability > button {
    width: 110px;
    height: 110px;
    margin: 10px;
    background: none;
    border: none;
    padding: 0px;
    border-radius: 50%;
}

.ability > button > img {
    width: 100%;
    height: 100%;
}

.movement {
    width: 200px;
    height: 135px;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.movement > button {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.movement > button:hover{
    background-color: rgb(190, 190, 190);
}

.movement > button:active{
    background-color: rgb(150, 150, 150);
}

.movement span.material-symbols-rounded {
    font-size: 30px;
}


/*  QUESTA SEZIONE RIGUARDA ALLA FINESTRA DEL TUTORIAL  */
/*  guarda pt.1 tutorial.js  */

.tutorialDark{
    background-color: rgb(6, 6, 6);
    border-color: aliceblue;
    color: aliceblue;
}

.tutorialLight{
    background-color: aliceblue;
    border-color: black;
    color: black;
}

#tutorial {
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 180px;
    border: 2px solid;
    border-radius: 10px;
    transition: top 0.5s linear, left 0.5s linear, bottom 0.5s linear, right 0.5s linear;
}

#messageTutorial{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    font-family: "regular";
    font-size: 20px;
}

/*  QUESTO STILE SI ATTIVA SOLO QUANDO IL TUTORIAL E' COMPLETATO guarda pt 2 tutorial.js  */
#messageTutorial > span {
    font-family: "bold";
}

#formTutorial {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    border-top: 2px solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#formTutorial > button {
    height: 35px;
    border-radius: 8px;
    font-size: 15px;
    font-family: "bold";
    border: 2px black solid;
}

#next {
    width: 150px;
    text-align: center;
    background-color: rgb(91, 136, 222);
}

#next:hover{
    background-color: rgb(65, 110, 195);
}

#skip {
    width: 110px;
    background-color: rgb(234, 112, 74);
}

#skip:hover{
    background-color: rgb(210, 95, 65);
}

/*  FINE PARTE RELATIVA ALLA FINESTRA DEL TUTORIAL  */


/* PERSONAGGI E AREA DI MOVIMENTO  */
.game_space {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.game_space > img {
    position: absolute;
}

#player1 {
    transform: rotateY(180deg);
}

#player1 , #player2 {
    position: absolute;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: all 0.4s;
    animation: none;
}

#player1:focus:not(:active){
    animation: disappear 5s ease-out;
}

#player1 + img{
    display: none;
    position: absolute;
    z-index: 2;
    width: 200px;
    height: 200px;
}

#player1:active + img{
    display: block;
    opacity: 0;
    position: absolute;
    animation: rocket1 10s linear;
    animation-delay: 0.2s;
}

#player2:hover{
    animation: spin 5s linear;
    animation-delay: 0.3s;
}

#player2:focus{
    animation: attack2 1.5s ease-in-out;
}

.game_space > img[src $= "grenade.png"]{
    width: 65px;
    height: 65px;
}

.game_space > img[src $= "yo.png"]{
    width: 70px;
    height: 70px;
}

.game_space > img[src $= "cSharp.png"] {
    width: 60px;
    height: 60px;
}

.game_space > img[src $= "laser.png"]{
    width: 25px;
    height: 8px;
}

.game_space > img[src $= "rocket.png"]{
    width: 200px;
    height: 200px;
    top: 50%;
}

/* $= corrisponde a "finisce per" */
.game_space > button > img[src $= "timmy.png"]{
    width: 150px;
    height: 250px;
}

.game_space > button > img[src $= "trevor.png"]{
    width: 180px;
    height: 250px;
}

.game_space > button > img[src $= "gabibbo.png"] , .game_space > button > img[src $= "gerry.png"]{
    width: 200px;
    height: 250px;
}

.game_space > button > img[src $= "sarim.png"]{
    width: 250px;
    height: 200px;
}

.ability1 , .ability2 , .ability3 , .ability4{
    z-index: 2;
    opacity: 0;
}

.ability2 {left: 0%;}
.ability4 {right: 0%;}

/* FINE PARTE RELATIVA AI COMANDI */

@media screen and (max-width: 1024px) {
    
    #menu{
        top: 20%;
        left: 35%;
        width: 30%;
        height: 45%;
    }

    .joystick , #player2{
        transform: scale(70%);
    }

    #player1{
        transform: scale(70%) rotateY(180deg);
    }

    div.life{
        width: 280px;
        height: 7px;
    }

    .game_space > button > img[src $= "timmy.png"]{
        width: 105px;
        height: 175px;
    }
    
    .game_space > button > img[src $= "trevor.png"]{
        width: 125px;
        height: 175px;
    }

    .game_space > button > img[src $= "gabibbo.png"] , .game_space > button > img[src $= "gerry.png"]{
        width: 140px;
        height: 175px;
    }

    .game_space > button > img[src $= "sarim.png"]{
        width: 175px;
        height: 140px;
    }

    .control{
        height: 160px;
    }

}

@media screen and (max-width: 769px) {

    #voidCircle > div{
        transform: rotate(-90deg);
    }

    header{
        position: fixed;
        z-index: 4;
        left: -305px;
        top: 45%;
        width: 540px;
        height: 90px;
        border-radius: 0px 0px 30px 30px;
        transition: left 0.7s;
        rotate: -90deg;
        background-position: top;
    }

    header:has(> #pauseBtn:focus , #menu:hover){
        top: 45%;
        left: -305px;
    }

    header:hover{
        left: -226px;
        top: 45%;
    }

    .joystick button:hover{
        filter: drop-shadow(0px 0px 15px black);
        transform: scale(110%);
    }

    header button , header a{
        transform: scale(70%) rotate(90deg);
    }

    header button:hover , a:hover{
        filter: drop-shadow(0px 0px 15px black);
        transform: scale(80%) rotate(90deg);
    }
    
    #menu{
        top: 30%;
        left: 30%;
        width: 40%;
        height: 40%;
        transform: rotate(-90deg);
    }

    #menu a:hover{
        transform: scale(110%) rotate(0deg);
    }

    #tutorial , #volumeRange , .joystick{
        transform: scale(65%);
    }

    main{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    section{
        width: 100%;
    }

    section:first-child{
        rotate: 180deg;
    }

    #separator{
        height: 5px;
        width: 100%;
        left: 0%;
        top: 50%;
    }
    
    div.life{
        height: 190px;
        width: 5px;
        border-width: 3.5px;
        top: 30px;
    }

    section:first-child div.life{
        left: 20px;
    }

    section:last-child div.life{
        right: 20px;
    }

    .control{
        height: 140px;
    }

    #player1 + img{
        z-index: 4;
        width: 150px;
        height: 150px;
        top: 20%;
        left: 0%;
    }

    #player1:focus:not(:active){
        animation: disappear 5s ease-out;
    }

    #player1:active + img{
        animation: rocket1Mobile 8s linear;
    }
    
    #player2:focus{
        animation: attack2Mobile 1.5s ease-in-out;
    }

    #player2:hover{
        animation: spinMobile 5s linear;
        animation-delay: 0.3s;
    }

}

@media screen and (max-width: 480px) {

    .joystick , #tutorial{
        transform: scale(55%);
    }

    .control{
        height: 110px;
    }

    #menu{
        transform: scale(80%);
    }

}